.heading {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
}

.header-button {
  padding: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.header-button-container{
display: flex;
align-items: center;
cursor: pointer;
}

.logo-img {
max-height: 54%;
}

.logo {
display: flex;
justify-content: center;
align-items: center;
position: absolute;

}
