.footer-container {
  height: 345px;
  background-color: black;
  border: 2px solid rgb(255, 176, 30);
  display: flex;
  flex-direction: column;
}

.top-footer {
  border: 2px solid rgb(16, 205, 16);
  color: white;
}

.bottom-footer {
  border: 2px solid rgb(215, 53, 215); 
  color: black;
  background-color: white;
  justify-items: center;
}

