.map-area {
  display: flex;
  height: 875px;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
}

.map-text-container {
  height: inherit;
  padding: 45px;
}

.column1 {
  display: flex;
  background-position: center;
  background-size: cover;
  background-image: url("pizzaMap.jpeg");
  flex: 1;
  height: inherit;
}

.column2 {
  color: black;
  background-color: #dbe0e9;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: inherit;
}

.column3 {
  color: black;
  font-size: large;
  background-color: #dbe0e9;

  display: flex;
  flex: 1;
  height: inherit;
}

.white-pr {
  color: white;
}

.map-headings {
  font-size: 50px;
  font-weight: bold;
  padding: 20px 0 10px;
}

.map-text {
  font-size: 17px;
  padding: 15px 2px 25px;
  line-height: 1.65;
}

.map-button {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  width: 80%;
  padding: 6px 6px 6px;
  cursor: pointer;
}

.map-button-container {
  display: flex;
  justify-content: left;
}

.bold-days1 {
  font-weight: 800;
}

.bold-days2 {
  font-weight: 800;
}

.bold-subscribe-text {
  font-weight: 700;
  font-family: "Source Sans Pro", Helvetica, Arial, Lucida, sans-serif;
}

.subscribe-button {
  margin-top: 1.5em;
  background-color: #000;
  min-width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-align: center;
  cursor: pointer;
}

.input-button {
  margin-top: 1em;
  border: .5px solid black;
  background-color: white;
  min-width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 9px 0 9px;
  display: inline-grid;
}
